<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrar Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <section >
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="space">
                        <div class="titulo">
                            <h3>Registro de productos</h3>
                        </div>
                        <div class="subtitulo">
                            <p>Ingrese la siguiente información del producto</p>
                        </div>
                        <div class="form">
                            <form onsubmit="return addProduct(this)" method="post">
                                <input id="title" type="text" name="tittle" class="input" placeholder="Nombre del Producto">
                                <input id="price" type="number" name="price"  class="input" placeholder="Precio">
                                <input id="thumbnail" type="text" name="thumbnail"  class="input" placeholder="URL Imágen">
                                <input class=" buttons" type="submit" value="Guardar Datos">
                            </form>
                        </div>
                        <hr>
                        <div class="titulo">
                          <h3>Productos registrados</h3>
                      </div>
                      <ul id="listado">
                      </ul>
                          <div class="tabla table-responsive">
                              <table class="table table-hover">
                                  <thead >
                                      <tr class="table-dark">
                                          <th scope="col">Nombre del Producto</th>
                                          <th scope="col">Precio</th>
                                          <th scope="col">Imágen</th>
                                      </tr>
                                  </thead>
                                  <tbody id="tabla">
                                  </tbody>
                              </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="space-chat">
                        <div class="titulo">
                            <h3>Centro de Mensajes</h3>
                        </div>
                        <div class="usuario">
                            <input id="usuario" type="text" name="tittle" class="input-usuario" placeholder="Usuario">
                        </div>
                        <hr>
                        <div class="mensajes" id="mensajes">
                            <ul id="lista-mensajes"></ul>
                            </ul>
                        </div>
                        <div  class="entrada-mensaje">
                            <form onsubmit="return sendMessage(this)" action="" class="form-mensajes">
                                <input type="text" placeholder="Inserte Mensaje" id="mensaje">
                                <input type="submit" value="Enviar" class="buttons">
                            </form>

                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>